
*.ps3
*.vs3
*.user
*.log
Bin/*.d.ts
Bin/*.js
Bin/*.pak
Bin/NativePluginSDK/*
Source/Atomic/Javascript/Modules/*
Data/AtomicPlayer/Resources/CoreData/Shaders/HLSL/Cache
Resources/CoreData/Shaders/HLSL/Cache
Artifacts/*
Docs/out/*
Docs/node_modules/*
Data/AtomicEditor/Deployment/Web/AtomicPlayer.js
Data/AtomicEditor/Deployment/Web/AtomicPlayer.html.mem
Data/AtomicEditor/Deployment/IOS/AtomicPlayer.app/AtomicPlayer
node_modules/*
/.project
Script/TypeScript/**/*.d.ts
!Script/TypeScript/**/*Work.d.ts
Script/Haxe/*
