[submodule "Submodules/CEF"]
	path = Submodules/CEF
	url = https://github.com/AtomicGameEngine/CEF3Binaries
[submodule "Submodules/AtomicExamples"]
	path = Submodules/AtomicExamples
	url = https://github.com/AtomicGameEngine/AtomicExamples
