
*.user
Bin/Atomic.d.ts
Bin/Atomic.js
Bin/*.pak
Source/Atomic/Javascript/Modules/*
Artifacts/*
Build/*
Docs/out/*
Docs/node_modules/*
Data/AtomicEditor/Deployment/Web/AtomicPlayer.js
Data/AtomicEditor/Deployment/IOS/AtomicPlayer.app/AtomicPlayer
node_modules/*
