# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atomic-game-engine'
      'command': 'atomic-game-engine:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atomic Game Engine'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atomic-game-engine:toggle'
        }
      ]
    ]
  }
]
