# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open Atomic Editor'
      'command': 'atomic-game-engine:openEditor'
    },
    {
      'label': 'Run in Atomic Player'
      'command': 'atomic-game-engine:run'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atomic Game Engine'
      'submenu': [
        {
          'label': 'Open Atomic Editor'
          'command': 'atomic-game-engine:openEditor'
        },
        {
          'label': 'Run in Atomic Player'
          'command': 'atomic-game-engine:run'
        }

      ]
    ]
  }
]
